@use "variables";

@mixin paper-style {
  background: variables.$color-paper;
  border: 2px solid variables.$color-paper-border;
  box-shadow: variables.$shadow-paper;
}

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}